.App {

  h1 {
    color: white;
    background-color: dimgrey;
    border: 2px solid black;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
  }

  .App-Content {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
  }

}
